USE [master]
GO
/****** Object:  Database [DemoCRUD]    Script Date: 3/18/2021 6:15:17 PM ******/
CREATE DATABASE [DemoCRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoCRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LONGISHERE\MSSQL\DATA\DemoCRUD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoCRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LONGISHERE\MSSQL\DATA\DemoCRUD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoCRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoCRUD]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 3/18/2021 6:15:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[Sr_no] [int] IDENTITY(1,1) NOT NULL,
	[Emp_name] [nvarchar](500) NULL,
	[City] [nvarchar](500) NULL,
	[STATE] [nvarchar](500) NULL,
	[Country] [nvarchar](500) NULL,
	[Department] [nvarchar](500) NULL,
	[flag] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[Sr_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Employee]    Script Date: 3/18/2021 6:15:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Sp_Employee]
@Sr_no int, @Emp_name nvarchar(500),
@City nvarchar(500), @STATE nvarchar(500),
@Country nvarchar(500), @Department nvarchar(500),
@flag nvarchar(50)
AS 
BEGIN
	IF (@flag = 'insert')
	BEGIN
		INSERT INTO dbo.tbl_Employee 
		(Emp_name, City, STATE, Country, Department)
		VALUES 
		(@Emp_name, @City, @STATE, @Country, @Department)
	END
	ELSE IF(@flag = 'update')
	BEGIN
		UPDATE dbo.tbl_Employee SET 
		Emp_name = @Emp_name, City = @City,
		@STATE = @STATE, Country = @Country,
		Department = @Department
		WHERE Sr_no = @Sr_no
	END
	ELSE IF(@flag = 'delete')
	BEGIN
		DELETE FROM tbl_Employee 
		WHERE Sr_no = @Sr_no
	END
	ELSE IF (@flag = 'getid')
	BEGIN
		SELECT * FROM tbl_Employee
		WHERE Sr_no = @Sr_no
	END
	ELSE IF (@flag = 'get')
	BEGIN
		SELECT * FROM tbl_Employee
	END
END
GO
USE [master]
GO
